<h1>Random Cat Pic Generator</h1>
  <div id="picture">
  <img src="<%= @pic_url%>">
  </div>
  <form action="generate" method="post">
    <input type="submit" name="generate" value="Generate!" />
  </form>
