<!DOCTYPE html>
<html>
  <head>
    <title>Random Cat Pic Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="reset.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
